*{
    margin: 0;
    padding: 0;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.child{
    background-color: yellow;
    border: 5px solid black;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 50px;
    height: 500px;
    width: 500px;
}
#btn{
    background-color: blue;
    height: 50px;
    width: 150px;
    color: wheat;
    font-size: x-large;
    border-radius: 25px;
}
#c1{
    text-align: center;
}
.c2{
    text-align: center;
    margin-top: 30px;
}